*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: #181a1b;
  border-color: #736b5e;
  height: 100%;
  width: 100%;
  color: #e8e6e3;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#start-screen {
  display: flex;
  gap: 15rem;
}

.set-name {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}

.start-btn-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
}

#start-btn {
  font-size: 2rem;
  justify-self: center;
  align-self: center;
  border-radius: 10px;
}

#game-screen {
  display: none; /*flex*/
  flex-direction: column;
  gap: 2.5rem;
}

.header {
  margin: 2rem 0;
  justify-self: start;
  display: grid;
  grid-template: 1fr 1fr/ 1fr 1fr;
  place-items: center;
  gap: 1rem;
  font-size: 3rem;
}

.board {
  align-self: center;
  width: 40rem;
  height: 40rem;
  display: grid;
  grid-template: 1fr 1fr 1fr/ 1fr 1fr 1fr;
}

.board-position {
  border: solid;
}

.board-position:nth-child(-n + 3) {
  border-top: none;
}

.board-position:nth-child(3n + 1) {
  border-left: none;
}

.board-position:nth-child(3n) {
  border-right: none;
}

.board-position:nth-last-child(-n + 3) {
  border-bottom: none;
}

.board-position {
  font-size: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  place-items: center;
}

#end-screen {
  display: none;
  grid-template: 1fr 1fr 1fr /1fr;
  gap: 12.5vh;
  margin-bottom: 9rem;
  place-items: center;
}

#winner-text {
  font-size: 5rem;
}

.end-buttons {
  display: flex;
  gap: 2rem;
}

#play-again-btn,
#change-players-btn {
  text-transform: uppercase;
  padding: 0.5rem 2rem;
  font-size: 5rem;
  border-radius: 25px;
}
